<div style="background-color: beige; margin-bottom: 20px;padding: 20px;">
    <form (ngSubmit)="submit()" #forma="ngForm">
        <label for="name"><b>Nombre de pila y apellido</b></label>
        <input type="text" #name="ngModel" [(ngModel)]="register.name" placeholder="Introducir el nombre" name="name" minlength="5" class="form-control" required [ngClass]="{'is-valid': !name.invalid, 'is-invalid':name.invalid && submited}">

            <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched) && submited">
                <div *ngIf="name.errors?.['minlength']">
                    Introducir un nobre de pila y apellidos con 5 caracteres
                </div>
                <div *ngIf="name.errors?.['required']">
                    Introducir un nombre de pila valido
                </div>
            </div>

            <label for="email"><b>Email</b></label>
            <input type="email" #email="ngModel" [(ngModel)]="register.email" placeholder="Introducir el email" name="email" minlength="5" class="form-control" required [ngClass]="{'is-valid': !email.invalid, 'is-invalid':email.invalid && submited}">
    
            <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched) && submited">
                <div *ngIf="email.errors?.['required']">
                    Introducir un email valido
                </div>
            </div>

            <label for="password"><b>Contraseña</b></label>
            <input type="password" #password="ngModel" [(ngModel)]="register.password" placeholder="Introducir el password" name="password" minlength="5" class="form-control" required [ngClass]="{'is-valid': !password.invalid, 'is-invalid':password.invalid && submited}">
    
            <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched) && submited">
                <div *ngIf="password.errors?.['minlength']">
                    Introducir un password valido
                </div>
                <div *ngIf="password.errors?.['required']">
                    Introducir un password valido
                </div>
            </div>

            <label for="password"><b>Repetir Contraseña</b></label>
            <input type="password" #repeatPass="ngModel" [(ngModel)]="register.repeatPass" placeholder="Introducir el repeatPass" name="repeatPass" minlength="5" class="form-control" required [ngClass]="{'is-valid': !repeatPass.invalid, 'is-invalid':repeatPass.invalid && submited}">
    
            <div class="invalid-feedback" *ngIf="repeatPass.invalid && (repeatPass.dirty || repeatPass.touched) && submited">
                 <div *ngIf="repeatPass.errors?.['required']">
                    Introducir un password valido
                </div>
            </div>

            <div *ngIf="password.value!= repeatPass.value" style="color: red;">
                Las contraseñas no coinciden
            </div>

            <div class="text-center">
                <button class="btn btn-primary" type="submit "> Register</button>
            </div>
    </form>
</div>
